/* 

	Виды отношений селекторов
	
		1) Вложенность 	(селектор селектор)		{Через пробел}
		2) Уточнение 		(селекторселектор)		{Без разделителя}
		3) Перечисление	(селектор, селектор)	{Через запятую}

*/


#sub_list li{
	color:green;
}

td.big_text{
	font-size: 30px;
}

li,td{
	font-family: Verdana;
}